<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YearByWeeks">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.YearByWeeks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.YearProgressWidgetReceiver"
            android:exported="true"
            android:label="Weeks Progress">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/year_progress_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.DaysProgressWidgetReceiver"
            android:exported="true"
            android:label="Days Progress">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/days_progress_widget_info" />
        </receiver>

        <!-- Custom Countdown Widget -->
        <receiver
            android:name=".widget.CustomCountdownWidgetReceiver"
            android:exported="true"
            android:label="Event Countdown">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/custom_countdown_widget_info" />
        </receiver>

        <!-- Countdown Config Activity -->
        <activity
            android:name=".widget.CustomCountdownConfigActivity"
            android:exported="true"
            android:theme="@style/Theme.YearByWeeks">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:name=".widget.CountdownPinnedReceiver" android:exported="false" />
        <receiver android:name=".widget.DateChangedReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>